html {
    margin: 0px;
    padding: 0px;
    /*禁止選取*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
    -webkit-overflow-scrolling: auto; /* 當手指從觸摸屏上移開，滾動會立即停止 */
}

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    overflow: hidden;
    font-family: '微軟正黑體';
}

a[href] {
    color: rgb(15, 189, 255) !important;
}

input {
    font-family: "微軟正黑體";
}

button:focus { /*取得焦點*/
    /*避免chrome 的button有外框*/
    outline: 0;
}


#main {
    height: 100vh;
    width: 100%;
    /*background-color:rebeccapurple;*/
}

x3d {
    position: absolute;
    border: none;
    top: 0px;
}

#top_box {
    transform-origin: 0;
    position: relative;
}

#m_top {
    height: 60%;
    width: 100%;
    background-image: url(img/bac.png);
    /**/
    position: relative;
}

    #m_top img {
        /*top:1%;
        left:1%;
        width: 98%;
        height: 98%;*/
        position: absolute;
        pointer-events: none;
        transform-origin: 0;
    }

#m_center {
    height: 50px;
    width: 100%;
    background-color: rgb(51, 51, 51);
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap; /*不斷行*/
}

    #m_center div {
        height: 38px;
        color: #fff;
        border: 1px solid rgba(126, 200, 255, 0.44);
        border-radius: 10px;
        display: inline-block;
        line-height: 40px;
        padding: 0px 10px;
        margin: 5px 0px 5px 5px;
        font-size: 20px;
    }

        #m_center div:active {
            background-color: rgb(52, 162, 255);
        }


#m_bottom {
    height: calc( 40vh - 50px );
    width: 100%;
    overflow: auto;
    /* -webkit-overflow-scrolling: touch; 當手指從觸摸屏上移開，會保持一段時間的滾動 */
}

.bot_box {
    height: 60px;
    background-color: rgb(59, 59, 59);
    color: #FFF;
    font-size: 24px;
    line-height: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.24);
}

.bot_name {
    overflow-x: hidden;
    white-space: nowrap;
}

.bot_eye {
    width: 30px;
    height: 60px;
    float: left;
    background-color: rgb(23, 23, 23);
    background-image: url(img/delete.png);
    background-size: 80% auto; /*圖片大小*/
    background-position: center center; /*對齊位置*/
    background-repeat: no-repeat; /*不重複*/
}

.bot_eye2 {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat; /*不重複*/
    background-position: center center; /*對齊位置*/
    background-size: 80% auto; /*自動填滿（contain、cover）*/
    background-image: url(img/eye.png);
}

.bot_img {
    width: 54px;
    height: 54px;
    float: left;
    margin: 2px;
    background-repeat: no-repeat; /*不重複*/
    background-position: center center; /*對齊位置*/
    background-size: contain; /*自動填滿（contain、cover）*/
    border: 1px solid rgba(255, 255, 255, 0.24);
}

.bot_switch {
    font-size: 15px;
    border: 1px solid rgba(255, 255, 255, 0.49);
    height: 50px;
    margin: 4px;
    line-height: 50px;
    float: right;
    padding: 0px 5px;
}

    .bot_switch:active {
        background-color: rgb(52, 162, 255);
    }


/*選擇素材*/
#switch, #txt, #saveimg, #saveed, #error {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 81000;
    position: fixed;
    top: 0px;
    left: 0px;
    color: #fff;
}

/*選擇素材-框*/
#switch_box, #txt_box, #saveimg_box, #saveed_box, #error_box {
    background-color: rgba(0, 0, 0, 0.8);
    width: 95vw;
    height: 95vh;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    margin: auto;
    border: 1px solid rgba(255, 255, 255, 0.3);
    overflow-y: auto;
    text-align: center;
    -webkit-overflow-scrolling: touch; /* 當手指從觸摸屏上移開，會保持一段時間的滾動 */
}

    /*選擇素材-圖片*/
    #switch_box a {
        width: calc( 21vw - 6px );
        height: calc( 21vw - 6px );
        margin: 0vw 0vw 0vw 1vw;
        border: 3px solid rgba(255, 255, 255, 0.44);
        display: inline-block;
        background-position: center center; /*對齊位置*/
        background-repeat: no-repeat; /*不重複*/
        background-size: cover; /*自動填滿（contain、cover）*/
    }
    /*選擇素材-圖片-標題*/
    #switch_box h1 {
        color: #fff !important;
        text-align: left;
        width: 100%;
        margin-bottom: 0px;
    }

.switch_sel {
    border: 3px solid rgba(95, 206, 255, 0.84) !important;
    background-color: rgba(122, 218, 255, 0.18);
}

/*素材視窗 標題*/
#switch_tit, #txt_tit, #saveimg_tit, #saveed_tit, #error_tit {
    width: 95vw;
    height: 50px;
    background-color: rgba(88, 88, 88, 0.90);
    color: #fff;
    font-size: 24px;
    font-weight: 900;
    line-height: 50px;
    position: fixed;
}

/*素材視窗 標題 關閉鈕*/
#switch_tit_close, #txt_tit_close, #saveimg_tit_close, #saveed_tit_close {
    font-size: 20px;
    font-weight: 900;
    line-height: 50px;
    padding: 0px;
    float: right;
    height: 50px;
    width: 50px;
    border: none;
    color: #fff;
    background-color: rgb(0, 122, 255);
}

    #switch_tit_close:active, #txt_tit_close:active, #saveimg_tit_close:active, #saveed_tit_close:active {
        background-color: rgb(47, 209, 95);
    }

/*儲存中 框*/
#saveing {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 81000;
    position: fixed;
    top: 0px;
    left: 0px;
}

#saveing_box {
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    margin: auto;
    background-color: rgba(35, 140, 255, 0.5);
    width: 100%;
    height: 80px;
    position: absolute;
    color: #fff;
    text-align: center;
    line-height: 80px;
    font-size: 40px;
}

.saveing_box_end {
    background-color: rgba(35, 255, 141, 0.50) !important;
}

/*選擇圖片儲存的類型 的按鈕*/
.saveimg_but {
    display: block;
    height: 60px;
    background-color: rgb(0, 122, 255);
    color: #FFF;
    margin: auto;
    margin-top: 20px;
    border: none;
    font-size: 24px;
    min-width: 90%;
}

    .saveimg_but:active {
        background-color: rgb(57, 198, 77);
    }

/*新增圖層的按鈕*/
#but_add {
    /*width: 50px;*/
    /*height: 50px;*/
    border-radius: 15px;
    margin: 10px auto;
    margin-bottom: 80px;
    padding: 10px 15px;
    display: block;
    background-color: rgb(0, 122, 255);
    color: #fff;
    font-size: 22px;
    /*font-weight: 900;*/
    /*line-height: 30px;*/
    border: none;
    text-align: center;
    font-family: "微軟正黑體";
}

    #but_add:active {
        background-color: rgb(57, 198, 77);
    }


hr {
height:1px;
border:none;
background-color:rgba(255,255,255,0.3);
}